<div class="row">
  <div class="col m12">
    <%= render 'form' %>
  </div>
</div>

<table id="wrapper-urls" class="table highlight">
  <thead>
    <tr>
      <th scope="col">Short URL</th>
      <th scope="col">Original URL</th>
      <th scope="col">Created</th>
      <th scope="col">Clicks Count</th>
      <th scope="col">Stats</th>
    </tr>
  </thead>
  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <th scope="row"><%= url.link_to_show %></th>
        <td><%= url.link_to_original_url %></td>
        <td><%= url.created_date %></td>
        <td><%= url.clicks_count %></td>
        <td>
          <%= link_to image_tag('stats.svg'), url_path(url.short_url) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
